:root {
  --primary-color: #4d6c77;
  --primary-color-rgb: 77, 108, 119;
  --secondary-color: #C6E76C;
  --secondary-color-rgb: 198, 231, 108;
  --tertiary-color: #95c4d4;
  --tertiary-color-rgb: 149, 196, 212;
}